

.issue-btn {
  color: #f28c48;
  border-color: #f28c48;
}

table {
  width: 100%;
  margin-top: 50px;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  .search {
    display: flex;
    height: 56px;
    align-items: center;

    .certCount {
      display: flex;
      float: right;
      line-height: 18px;
    }
    .ant-form-item {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}


nz-form-item {
  &:nth-child(even) {
    margin-right: 14px;
  }

  nz-select {
    width: 135px;
  }
}

:host ::ng-deep nz-select .ant-select-selection {
  height: 36px;
}

:host ::ng-deep nz-select .ant-select-selection__rendered {
  line-height: 34px;
}

.input {
  width: 246px;
  height: 36px;
  margin-right: 14px;
}

.operation{
  width: 28px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #F2732B;
  margin-right: 16px;
  text-align: right;

  &:hover {
   cursor: pointer;
  }
}


