<div class="search">
  <nz-form-control>
    <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate" class="input">
      <input nz-input type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
             (keyup.enter)="search()" placeholder="搜索认证人名称 合作方名称"
      >
      <ng-template #prefixTemplate>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <ng-template #suffixTemplate>
        <i
          nz-icon
          class="ant-input-clear-icon"
          nzType="close-circle"
          (click)="searchText=''"
        ></i>
      </ng-template>
    </nz-input-group>
  </nz-form-control>

  <nz-form-item>
    <nz-select
      name="certificateTemplate"
      nzPlaceHolder="选择证书类型"
    >
      <nz-option
        *ngFor="let option of certificateTemplateOptions"
        [nzValue]="option.value"
        [nzLabel]="option.label">
      </nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item>
    <nz-select
      name="certificateTemplate"
      nzPlaceHolder="选择认证方向"
    >
      <nz-option
        *ngFor="let option of certificateDirectionOptions"
        [nzValue]="option.value"
        [nzLabel]="option.label">
      </nz-option>
    </nz-select>
  </nz-form-item>
</div>
<!--<div class="btn-wrapper">-->
<!--  <button class="issue-btn" nz-button nzType="primary" nzGhost (click)="search()" [disabled]="!searchText"-->
<!--  >查询-->
<!--  </button>-->
<!--</div>-->

<div class="table">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="certificateTemplate">
      <th mat-header-cell *matHeaderCellDef> 证书类型</th>
      <td mat-cell *matCellDef="let element"> {{element.certificateTemplate}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="certDirection">
      <th mat-header-cell *matHeaderCellDef> 认证方向</th>
      <td mat-cell *matCellDef="let element"> {{element.certDirection}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="partner">
      <th mat-header-cell *matHeaderCellDef> 合作方</th>
      <td mat-cell *matCellDef="let element"> {{element.partner}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 认证人</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>



