<svg #TWSimple xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="240px" viewBox="0 0 1171.87 1490.36"
  [appMovable]="{x:-100,y:100}" #movable="appMovable" appZoom #zoom="appZoom">
  <defs>
    <style>
      .cls-simple-1,.cls-simple-22{fill:none;}
      .cls-simple-2{isolation:isolate;}
      .cls-simple-3{opacity:0.3;mix-blend-mode:multiply;}
      .cls-simple-5{opacity:0.6;}
      .cls-simple-11,.cls-simple-13,.cls-simple-14,.cls-simple-15,.cls-simple-16,.cls-simple-18,.cls-simple-24{fill:#fff;}
      .cls-simple-13,.cls-simple-14,.cls-simple-18{font-size:42px;font-family:PingFangSC-Regular-GBpc-EUC-H, PingFang SC;}
      .cls-simple-14{letter-spacing:0.51em;}
      .cls-simple-15{font-size:114px;font-weight: bold;}
      .cls-simple-15,.cls-simple-16{font-family:PingFangSC-Semibold-GBpc-EUC-H, PingFang SC;}
      .cls-simple-15-en{font-family:PingFangSC;font-weight: 300;font-size: 70px;fill:#fff;}
      .cls-simple-16{font-size:80px;font-weight:700;}
      .cls-simple-21{opacity:0.5;}
      .cls-simple-22{stroke:#fff;stroke-miterlimit:10;}
      .cls-simple-23{clip-path:url(#clip-path-simple-7); font-weight: bold;}
      .cls-simple-24{font-size:40.82px;font-family:AppleSDGothicNeo-Heavy-KSCpc-EUC-H, Apple SD Gothic Neo;}
    </style>
    <radialGradient id="radialGradient" cx="584.79" cy="707.06" fx="366.2067895683565" fy="88.27440687507988" r="1139.19" gradientUnits="userSpaceOnUse">
      <stop offset="0" [ngStyle]="{'stop-color': radialGradientColor}" stop-opacity="0"/>
      <stop offset="0.1" [ngStyle]="{'stop-color': radialGradientColor}" stop-opacity="0.1"/>
      <stop offset="0.32" [ngStyle]="{'stop-color': radialGradientColor}" stop-opacity="0.37"/>
      <stop offset="0.64" [ngStyle]="{'stop-color': radialGradientColor}" stop-opacity="0.79"/>
      <stop offset="0.78" [ngStyle]="{'stop-color': radialGradientColor}"/>
    </radialGradient>
    <clipPath id="clip-path-simple-7">
      <rect class="cls-simple-1" x="198.59" y="241.62" width="386.2" height="93.9"/>
    </clipPath>
    <rect id="path-simple-3" x="0" y="0" width="1171.87" height="1490.36" rx="12.27"/>
  </defs>
  <g id="TW-simple" class="cls-simple-2">
    <g id="simple-cert-photo">
      <g id="26">
        <mask id="mask-simple-4" fill="white">
          <use xlink:href="#path-simple-3"></use>
        </mask>
        <use id="Mask" [ngStyle]="{'fill': backgroundColor}" xlink:href="#path-simple-3"></use>
        <image id="photo" mask="url(#mask-simple-4)" [attr.x]="movable.offsetX" [attr.y]="movable.offsetY"
                [attr.width]="1800 * zoom.scale" width="1800"
                [attr.xlink:href]="certificate.photoUrl"></image>
        <use id="Mask" fill="url(#radialGradient)" xlink:href="#path-simple-3"></use>
      </g>
      <use id="Mask" [ngStyle]="{'fill': backgroundColor}" opacity="0.5" xlink:href="#path-simple-3"></use>
    </g>
    <g transform="translate(-50, 0)">
      <g class="cls-simple-23">
        <text class="cls-simple-24" transform="translate(198.58 276.61)">CERTIFICATION OF </text>
        <text class="cls-simple-24" transform="translate(198.58 323.27)">COMPLETION</text>
      </g>
      <g transform="translate(0, 200)">
        <text class="cls-simple-15" transform="translate(198.59 733.94)">
          <tspan>{{certificate.certName | chineseName}}</tspan>
        </text>
        <text class="cls-simple-15-en" transform="translate(198.59 833.94)">
          <tspan>{{certificate.certName | englishName}}</tspan>
        </text>
        <text class="cls-simple-16" transform="translate(198.59 520.72)">
          <tspan>{{certificate.lastName}} {{certificate.firstName}}</tspan>
        </text>
        <g class="cls-simple-17">
          <text class="cls-simple-14" transform="translate(204.89 979.61)">有效期</text>
          <text class="cls-simple-18" transform="translate(379.31 981.51)">：</text>
          <text class="cls-simple-18" transform="translate(430.41 980.51)">
            <tspan>{{certificate.publishedAt|date:'yyyy/MM/dd'}}</tspan>
            <tspan>-</tspan>
            <tspan>{{certificate.expiredAt|date:'yyyy/MM/dd'}}</tspan>
          </text>
        </g>
        <g class="cls-simple-19">
          <text class="cls-simple-13" transform="translate(204.89 1067.08)">颁发日期</text>
          <text class="cls-simple-18" transform="translate(379.31 1068.96)">：</text>
          <text class="cls-simple-18" transform="translate(430.41 1068.96)">
            <tspan>{{certificate.publishedAt|date:'yyyy/MM/dd'}}</tspan>
          </text>
        </g>
        <g class="cls-simple-20">
          <text class="cls-simple-14" transform="translate(204.89 1156.75)">颁发者</text>
          <text class="cls-simple-18" transform="translate(379.31 1157.07)">：</text>
          <text class="cls-simple-18" transform="translate(430.41 1157.07)">
            <tspan>{{certificate.issuer|slice:0:20}}</tspan>
          </text>
        </g>
      </g>
    </g>
    <g class="cls-simple-21">
      <path class="cls-simple-22" d="M1316.5,257.41a243.45,243.45,0,0,1-190.59,91.7C991.22,349.11,882,239.92,882,105.23s109.18-243.87,243.87-243.87c123.19,0,225,91.33,241.54,210"/>
      <path class="cls-simple-22" d="M1310.74,252.66a236,236,0,0,1-184.82,89c-130.59,0-236.44-105.86-236.44-236.44s105.85-236.44,236.44-236.44c119,0,217.77,88.4,234.16,202.41"/>
      <path class="cls-simple-22" d="M1305,247.92a228.57,228.57,0,0,1-179.06,86.23c-126.48,0-229-102.53-229-229s102.53-229,229-229c114.85,0,210.51,85.47,226.78,194.85"/>
      <path class="cls-simple-22" d="M1299.22,243.17a221.15,221.15,0,0,1-173.3,83.5c-122.37,0-221.57-99.2-221.57-221.57s99.2-221.58,221.57-221.58c110.68,0,203.26,82.54,219.41,187.3"/>
      <path class="cls-simple-22" d="M1293.47,238.43a213.76,213.76,0,0,1-167.54,80.76c-118.27,0-214.14-95.87-214.14-214.14s95.87-214.14,214.14-214.14c106.51,0,196,79.61,212,179.74"/>
      <path class="cls-simple-22" d="M1287.71,233.69a206.33,206.33,0,0,1-161.78,78c-114.16,0-206.71-92.54-206.71-206.7s92.55-206.71,206.71-206.71c102.34,0,188.73,76.68,204.66,172.17"/>
      <path class="cls-simple-22" d="M1282,228.94a198.89,198.89,0,0,1-156,75.3C1015.88,304.24,926.66,215,926.66,105s89.22-199.27,199.28-199.27c98.17,0,181.47,73.74,197.28,164.61"/>
      <path class="cls-simple-22" d="M1276.2,224.2a191.51,191.51,0,0,1-150.26,72.56c-106,0-191.84-85.89-191.84-191.85S1020-86.93,1125.94-86.93c94,0,174.21,70.82,189.91,157.06"/>
      <path class="cls-simple-22" d="M1270.44,219.45a184.05,184.05,0,0,1-144.5,69.83c-101.84,0-184.4-82.56-184.4-184.41s82.56-184.41,184.4-184.41c89.84,0,167,67.88,182.53,149.49"/>
      <path class="cls-simple-22" d="M1264.68,214.71A177,177,0,1,1,1126-72.15c85.67,0,159.68,65,175.15,141.93"/>
      <path class="cls-simple-22" d="M1258.92,210A169.54,169.54,0,1,1,1126-64.76c81.5,0,152.43,62,167.78,134.37"/>
      <path class="cls-simple-22" d="M1253.17,205.22A162.11,162.11,0,1,1,1126-57.38c77.33,0,145.16,59.09,160.4,126.81"/>
      <path class="cls-simple-22" d="M1247.41,200.48A154.68,154.68,0,1,1,1126-50c73.16,0,137.9,56.16,153,119.25"/>
      <path class="cls-simple-22" d="M1241.65,195.73A147.24,147.24,0,1,1,1126-42.6c69,0,130.65,53.22,145.66,111.69"/>
      <path class="cls-simple-22" d="M1235.9,191A139.81,139.81,0,1,1,1126-35.22c64.82,0,123.38,50.3,138.27,104.14"/>
      <path class="cls-simple-22" d="M1230.14,186.24A132.38,132.38,0,1,1,1126-27.83c60.66,0,116.12,47.37,130.9,96.57"/>
      <path class="cls-simple-22" d="M1224.38,181.5A124.95,124.95,0,1,1,1126-20.44c56.48,0,108.86,44.43,123.52,89"/>
      <path class="cls-simple-22" d="M1218.63,176.76A117.51,117.51,0,1,1,1126-13c52.32,0,101.6,41.5,116.15,81.45"/>
    </g>
  </g>
</svg>
