:host {
  display: flex;

  > * {
    flex: auto;
    padding: 20px;
  }

  > .preview {
    flex: none;
    min-width: 450px;
  }

  nz-header{
    display: flex;
    justify-content: space-between;

    .tabs{
      span{
        height: 64px;
        width: 76px;
        text-align: center;
        display: inline-block;
        margin-right: 58px;
        color: #596774;

        &:last-child{
          margin-right: 0;
        }

        &.active{
          color: #f28c48;
          border-bottom: 4px solid;
        }

        &.disabled{
          opacity: 0.4;
        }
      }
    }
  }

  nz-header,
  nz-footer {
    background: #FFFFFF;
    color: #f28c48;
  }

  nz-header{
    margin-bottom: 24px;
  }

  nz-content{
    width: 1060px;
    margin: 0 auto;
    display: flex;

    .left{
      width: 660px;
      margin-right: 40px;
      background-color: #FFFFFF;
      padding: 16px 64px;
    }

    .right {
      flex: 1;
      background-color: #FFFFFF;
    }
  }
}

svg {
  width: 300px;
  user-select: none;
}

button {
  margin-right: 50px;
}
