:host {
  display: flex;

  > * {
    flex: auto;
    padding: 20px;
  }

  > .preview {
    flex: none;
    min-width: 450px;
  }
}

svg {
  width: 300px;
  user-select: none;
}

button {
  margin-right: 50px;
}
