<input #input (change)="photoChanged(input.files)" type="file"/>
<div style="background: black">
  <img [src]="certificate.photoUrl|safeResourceUrl"/>
</div>
<hr/>
<p>
  <app-template-community [certificate]="certificate" #template></app-template-community>
  <button type="button" (click)="saveAsPng(template.svg)">生成证书</button>
</p>
<div>
  <a *ngIf="svgUrl" [href]="svgUrl" target="_blank" download="{{certificate|name}}的证书.svg">下载 SVG 版本</a>
  <a *ngIf="pngUrl" [href]="pngUrl" target="_blank" download="{{certificate|name}}的证书.png">下载 PNG 版本</a>
</div>
