<app-cert-form [certificate]="certificate"></app-cert-form>
<div class="preview">
  <!-- <ng-container *ngIf="certificate.type==='ThoughtWorks'"> -->
    <!-- <app-template-tw [certificate]="certificate" #template></app-template-tw> -->
    <app-template-junior-dpm [certificate]="certificate" #template></app-template-junior-dpm>
    <div>
      <app-template-junior-dpm-simple [certificate]="certificate" #TWSimple></app-template-junior-dpm-simple>
    </div>
  <!-- </ng-container> -->
  <!-- <ng-container *ngIf="certificate.type==='Community'">
    <app-template-community [certificate]="certificate" #template></app-template-community>
  </ng-container>
  <ng-container *ngIf="certificate.type==='Enterprise'">
    <app-template-corporate [certificate]="certificate" #template></app-template-corporate>
  </ng-container>
  <ng-container *ngIf="certificate.type==='University'">
    <app-template-university [certificate]="certificate" #template></app-template-university>
  </ng-container> -->
  <p>
    <button type="button" mat-flat-button color="primary" [disabled]="checkFormValidation()" (click)="issue()">颁发证书</button>
  </p>
  <div>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <div>
    <a *ngIf="downloadLink" [href]="svgUrl" target="_blank" download="{{certificate|name}}的证书.svg">下载 SVG 版本</a>
    <a *ngIf="downloadLink" [href]="pngUrl" target="_blank" download="{{certificate|name}}的证书.png">下载 PNG 版本</a>
  </div>
</div>
