<nz-layout>
  <nz-header>
    <div>
      <img class="logo" src="assets/logo.png" />
      <span>证书颁发系统</span>
    </div>
    <div class="tabs">
      <span
        *ngFor="let tab of tabs"
        [ngClass]="{active: tabKey === tab.key}"
        (click)="onTabChange(tab.key)"
      >
        {{tab.title}}
      </span>
    </div>
    <div class="user">
      <nz-avatar nzText="A"></nz-avatar>
      <span>Admin1</span>
    </div>
  </nz-header>
  <div class="certificate-tabs">
    <p>{{isCertificatePublish ? '证书发布' : '证书查询'}}</p>
    <button *ngIf="isCertificatePublish"
            class="linked-certificate" nz-button nzType="primary"
            [ngClass]="{active: subTabKey === certificateTabs.LINKED_CERTIFICATE}"
            (click)="onSubTabChange(certificateTabs.LINKED_CERTIFICATE)">上链证书
    </button>
    <button *ngIf="isCertificatePublish"
            class="non-linked-certificate" nz-button nzType="primary"
            [ngClass]="{active: subTabKey === certificateTabs.NON_LINKED_CERTIFICATE}"
            (click)="onSubTabChange(certificateTabs.NON_LINKED_CERTIFICATE)">非上链证书
    </button>
  </div>
  <nz-content>
    <div class="left">
      <app-cert-form
        *ngIf="isCertificatePublish && isLinkedCertificate"
        [certificate]="certificate"
        [(certificateTemplate)]="certificateTemplate">
      </app-cert-form>
      <app-non-linked-cert-form
        *ngIf="isCertificatePublish && subTabKey===certificateTabs.NON_LINKED_CERTIFICATE"
        [certificate]="certificate"
        [(certificateTemplate)]="certificateTemplate">
      </app-non-linked-cert-form>
      <div class="issue-btn-wrapper" *ngIf="tabKey!==certificateTabs.QUERY_CERTIFICATE">
        <button class="issue-btn" nz-button nzType="primary" nzGhost [disabled]="checkFormValidation()"
                (click)="issue()" [nzLoading]="loading">颁发证书
        </button>
      </div>
      <app-query-page *ngIf="tabKey===certificateTabs.QUERY_CERTIFICATE"></app-query-page>
    </div>

    <div class="preview" *ngIf="tabKey!==certificateTabs.QUERY_CERTIFICATE">
      <div><p class="section-title">证书预览调试</p></div>
      <div class="certification-sample">
        <ng-container *ngIf="isLinkedCertificate">
          <ng-container *ngIf="certificateTemplate === 'tw'">
            <app-template-tw [certificate]="certificate" #template></app-template-tw>
            <app-template-tw-simple [certificate]="certificate" #TWSimple></app-template-tw-simple>
          </ng-container>
          <ng-container *ngIf="certificateTemplate === 'dpm'">
            <app-template-junior-dpm [certificate]="certificate" #template></app-template-junior-dpm>
            <div>
              <app-template-junior-dpm-simple [certificate]="certificate" #TWSimple></app-template-junior-dpm-simple>
            </div>
          </ng-container>
          <ng-container *ngIf="certificateTemplate === 'tw-cor'">
            <app-template-tw-cor [certificate]="certificate" #template></app-template-tw-cor>
            <div>
              <app-template-tw-cor-simple [certificate]="certificate" #TWSimple></app-template-tw-cor-simple>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!isLinkedCertificate">
          <app-template-non-linked-tw-ac
            [certificateTemplate]="certificateTemplate"
            [certificate]="certificate" #template>
          </app-template-non-linked-tw-ac>
        </ng-container>
      </div>
      <div>
        <a *ngIf="downloadLink" [href]="svgUrl" target="_blank" download="{{certificate|name}}的证书.svg">下载 SVG 版本</a>
        <a *ngIf="downloadLink" [href]="pngUrl" target="_blank" download="{{certificate|name}}的证书.png">下载 PNG 版本</a>
      </div>
    </div>
  </nz-content>
</nz-layout>
