<div class="cert-info">
  <nz-form-item>
    <nz-form-label>证书类型</nz-form-label>
    <nz-select
      name="certificateTemplate"
      [(ngModel)]="certificate.certificateTemplate"
      (ngModelChange)="changeTemplate($event)"
    >
      <nz-option
        *ngFor="let option of certificateTemplateOptions"
        [nzValue]="option.value"
        [nzLabel]="option.label">
      </nz-option>
    </nz-select>
  </nz-form-item>

  <nz-form-item *ngIf="certificateTemplate === 'tw-cor'">
    <nz-form-label>合作方</nz-form-label>
    <nz-form-control>
      <input nz-input name="cor" [(ngModel)]="certificate.partner"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>证书名称</nz-form-label>
    <nz-select
      name="certName" [(ngModel)]="certificate.certName"
    >
      <nz-option *ngFor="let option of certificateLevelOptions" [nzValue]="option.value"
                 [nzLabel]="option.label"></nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>认证方向</nz-form-label>
    <nz-select
      name="certDirection" [(ngModel)]="certificate.certDirection"
    >
      <nz-option *ngFor="let option of certificateDirectionOptions" [nzValue]="option.value"
                 [nzLabel]="option.label"></nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>姓</nz-form-label>
    <nz-form-control>
      <input nz-input name="lastName" [(ngModel)]="certificate.lastName" required/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>名</nz-form-label>
    <nz-form-control>
      <input nz-input name="firstName" [(ngModel)]="certificate.firstName" required/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>姓（拼音）</nz-form-label>
    <nz-form-control>
      <input nz-input name="lastNamePinyin" [(ngModel)]="certificate.lastNamePinyin" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>名（拼音）</nz-form-label>
    <nz-form-control>
      <input nz-input name="firstNamePinyin" [(ngModel)]="certificate.firstNamePinyin"/>
    </nz-form-control>
  </nz-form-item>
</div>

<div class="photo-upload">
  <app-trainee-photo-upload class="trainee-upload" [photoUrl]="certificate.photoUrl"
                            (photoChange)="onPhotoChanged($event)"></app-trainee-photo-upload>
  <app-logo-photo-upload [logoUrl]="certificate.logoUrl"
                         (photoChange)="onPhotoChanged($event)"></app-logo-photo-upload>
</div>
