:host {
  display: block;

  .cert-info{
    display: flex;
    flex-wrap: wrap;
  }
  nz-form-item{
    &:nth-child(odd){
      margin-right: 40px;
    }

    nz-form-label{
      display: block;
      text-align: left;
    }

    nz-select, input {
      width: 240px;
    }
  }
}

::ng-deep .ant-calendar-picker .ant-calendar-picker {
  width: 240px;
}

.photo-upload {
  display: flex;
}

.trainee-upload {
  margin-right: 20px;
}
