<span (click)="handleCheckClick()"> 查看 </span>
<div *ngIf="isOpen" class="mask" (click)="handleOutClick()">
  <div class="container" (click)="$event.stopPropagation()">
    <header>
      <span> 证书详情 </span>
      <i
        nz-icon
        nzType="close"
        nzTheme="outline"
        (click)="handleCheckClick()"
      ></i>
    </header>
    <main>
      <section class="img">
        <img src="{{ certDetail.pngUrl }}" width="334px" height="491px" />
      </section>
      <section class="detail">
        <ul>
          <label>证书信息</label>
          <li *ngIf="certDetail.certificateTemplate">
            证书类型：{{ certDetail.certificateTemplate | certificateTemplate }}
          </li>
          <li *ngIf="certDetail.level">
            等级： {{ certDetail.level | chineseName }}
          </li>
          <li *ngIf="certDetail.issuer">颁发者：{{ certDetail.issuer }}</li>
          <li *ngIf="certDetail.type">认证类型：{{ certDetail.type }}</li>
          <li *ngIf="certDetail.certDirection">
            认证方向：{{ certDetail.certDirection | certificateDirection }}
          </li>
          <li *ngIf="certDetail.name">姓名：{{ certDetail.name }}</li>
          <li *ngIf="certDetail.subordinateCompany">
            认证对象所属公司：{{ certDetail.subordinateCompany }}
          </li>
          <li *ngIf="certDetail.identityNumber">
            认证对象身份证号：{{ certDetail.identityNumber }}
          </li>
          <li *ngIf="certDetail.phoneNumber">
            电话号码：{{ certDetail.phoneNumber }}
          </li>
          <li *ngIf="certDetail.publishedAt">
            获得时间：{{ certDetail.publishedAt | date : 'yyyy-MM-dd' }}
          </li>
          <li *ngIf="certDetail.expiredAt">
            过期时间：{{ certDetail.expiredAt | date : 'yyyy-MM-dd' }}
          </li>
        </ul>
      </section>
    </main>
  </div>
</div>
