<svg #TWSimple xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300px" viewBox="0 0 1171.87 1419.86"
  [appMovable]="{x:380,y:250}" #movable="appMovable" appZoom #zoom="appZoom">
  <defs>
    <style>
      .cls-simple-1,.cls-simple-22{fill:none;}
      .cls-simple-2{isolation:isolate;}
      .cls-simple-3{opacity:0.3;mix-blend-mode:multiply;}
      .cls-simple-5{opacity:0.6;}
      .cls-simple-6{clip-path:url(#clip-path);}
      .cls-simple-7{opacity:0.4;}
      .cls-simple-8{fill:#f5a156;}
      .cls-simple-9{clip-path:url(#clip-path-2);}
      .cls-simple-10{clip-path:url(#clip-path-3);}
      .cls-simple-11,.cls-simple-13,.cls-simple-14,.cls-simple-15,.cls-simple-16,.cls-simple-18,.cls-simple-24{fill:#fff;}
      .cls-simple-13,.cls-simple-14{font-size:34px;}
      .cls-simple-13,.cls-simple-14,.cls-simple-18{font-family:PingFangSC-Regular-GBpc-EUC-H, PingFang SC;}
      .cls-simple-14{letter-spacing:0.51em;}
      .cls-simple-15{font-size:114px;}
      .cls-simple-15,.cls-simple-16{font-family:PingFangSC-Semibold-GBpc-EUC-H, PingFang SC;}
      .cls-simple-16{font-size:80px;}
      .cls-simple-17{clip-path:url(#clip-path-4);}
      .cls-simple-18{font-size:32.66px;}
      .cls-simple-19{clip-path:url(#clip-path-5);}
      .cls-simple-20{clip-path:url(#clip-path-6);}
      .cls-simple-21{opacity:0.5;}
      .cls-simple-22{stroke:#fff;stroke-miterlimit:10;}
      .cls-simple-23{clip-path:url(#clip-path-7);}
      .cls-simple-24{font-size:40.82px;font-family:AppleSDGothicNeo-Heavy-KSCpc-EUC-H, Apple SD Gothic Neo;}
      .background{fill:#F6A559;}
      .background-advanced{fill:#F76938;}
      .background-master{fill:#F25248;}
      .radialGradient{fill:url(#radialGradient);}
      .radialGradient-advanced{fill:url(#radialGradient-advanced);}
      .radialGradient-master{fill:url(#radialGradient-master);}
    </style>
    <clipPath id="clip-path">
      <path class="cls-simple-1" d="M-718.94,1334.65v345.88H-879v-36.61s-37.33,36.22-153,36.22c-141.17,0-290.41-124.49-290.41-280.27s96.49-319.63,301.78-319.63C-820.95,1080.24-718.94,1249.87-718.94,1334.65ZM-1019.33,1238a142.42,142.42,0,0,0-142.42,142.42,142.42,142.42,0,0,0,142.42,142.42,142.42,142.42,0,0,0,142.42-142.42A142.42,142.42,0,0,0-1019.33,1238Z"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <polyline class="cls-simple-1" points="-1334.33 -330.62 -1021.55 -330.62 -1021.55 1381.54 -2032.81 1381.54 -2032.81 288.62"/>
    </clipPath>
    <clipPath id="clip-path-3">
      <path class="cls-simple-1" d="M-721.16,1335.8v345.88H-881.27v-36.61s-37.32,36.22-153,36.22c-141.17,0-290.41-124.49-290.41-280.26s96.49-319.64,301.78-319.64C-823.17,1081.39-721.16,1251-721.16,1335.8Zm-300.39-96.68A142.42,142.42,0,0,0-1164,1381.54,142.41,142.41,0,0,0-1021.55,1524a142.41,142.41,0,0,0,142.42-142.41A142.42,142.42,0,0,0-1021.55,1239.12Z"/>
    </clipPath>
    <radialGradient id="radialGradient" cx="584.79" cy="707.06" fx="366.2067895683565" fy="88.27440687507988" r="1139.19" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#f6a559" stop-opacity="0"/>
      <stop offset="0.1" stop-color="#f6a257" stop-opacity="0.1"/>
      <stop offset="0.32" stop-color="#f59c53" stop-opacity="0.37"/>
      <stop offset="0.64" stop-color="#f4914c" stop-opacity="0.79"/>
      <stop offset="0.78" stop-color="#f38c48"/>
    </radialGradient>
    <radialGradient id="radialGradient-advanced" cx="584.79" cy="707.06" fx="366.2067895683565" fy="88.27440687507988" r="1139.19" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#ED5D2B" stop-opacity="0"/>
      <stop offset="0.1" stop-color="#ED5D2B" stop-opacity="0.1"/>
      <stop offset="0.32" stop-color="#ED5D2B" stop-opacity="0.37"/>
      <stop offset="0.64" stop-color="#ED5D2B" stop-opacity="0.79"/>
      <stop offset="0.78" stop-color="#ED5D2B"/>
    </radialGradient>
    <radialGradient id="radialGradient-master" cx="584.79" cy="707.06" fx="366.2067895683565" fy="88.27440687507988" r="1139.19" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#E84D42" stop-opacity="0"/>
      <stop offset="0.1" stop-color="#E84D42" stop-opacity="0.1"/>
      <stop offset="0.32" stop-color="#E84D42" stop-opacity="0.37"/>
      <stop offset="0.64" stop-color="#E84D42" stop-opacity="0.79"/>
      <stop offset="0.78" stop-color="#E84D42"/>
    </radialGradient>
    <clipPath id="clip-path-7">
      <rect class="cls-simple-1" x="198.59" y="241.62" width="386.2" height="93.9"/>
    </clipPath>
    <rect id="path-3" x="55.35" y="33.17" width="1058.88" height="1347.79" rx="12.27"/>
  </defs>
  <g class="cls-simple-2">
    <g id="TW-simple">
      <!-- <rect [ngClass]="getCertBackgroundClass()" x="55.35" y="33.17" width="1058.88" height="1347.79" rx="12.27"/> -->
      <g class="cls-simple-5 cls-simple-6 cls-simple-7">
        <rect class="cls-simple-8" x="-1482.73" y="1173.2" width="2148.81" height="18" transform="translate(716.35 634.99) rotate(45)"/>
        <rect class="cls-simple-8" x="-1506.85" y="1197.33" width="2148.81" height="18" transform="translate(726.34 659.11) rotate(45)"/>
        <rect class="cls-simple-8" x="-1530.97" y="1221.45" width="2148.81" height="18" transform="translate(736.34 683.23) rotate(45)"/>
        <rect class="cls-simple-8" x="-1555.1" y="1245.58" width="2148.81" height="18" transform="translate(746.33 707.36) rotate(45)"/>
        <rect class="cls-simple-8" x="-1579.22" y="1269.7" width="2148.81" height="18" transform="translate(756.32 731.48) rotate(45)"/>
        <rect class="cls-simple-8" x="-1603.35" y="1293.82" width="2148.81" height="18" transform="translate(766.31 755.61) rotate(45)"/>
        <rect class="cls-simple-8" x="-1627.47" y="1317.95" width="2148.81" height="18" transform="translate(776.31 779.73) rotate(45)"/>
        <rect class="cls-simple-8" x="-1651.6" y="1342.07" width="2148.81" height="18" transform="translate(786.3 803.86) rotate(45)"/>
        <rect class="cls-simple-8" x="-1675.72" y="1366.2" width="2148.81" height="18" transform="translate(796.29 827.98) rotate(45)"/>
        <rect class="cls-simple-8" x="-1699.84" y="1390.32" width="2148.81" height="18" transform="translate(806.28 852.1) rotate(45)"/>
        <rect class="cls-simple-8" x="-1723.97" y="1414.45" width="2148.81" height="18" transform="translate(816.28 876.23) rotate(45)"/>
        <rect class="cls-simple-8" x="-1748.09" y="1438.57" width="2148.81" height="18" transform="translate(826.27 900.35) rotate(45)"/>
        <rect class="cls-simple-8" x="-1772.22" y="1462.69" width="2148.81" height="18" transform="translate(836.26 924.48) rotate(45)"/>
        <rect class="cls-simple-8" x="-1796.34" y="1486.82" width="2148.81" height="18" transform="translate(846.26 948.6) rotate(45)"/>
        <rect class="cls-simple-8" x="-1820.46" y="1510.94" width="2148.81" height="18" transform="translate(856.25 972.73) rotate(45)"/>
      </g>
      <g class="cls-simple-7 cls-simple-9 cls-simple-10">
        <rect class="cls-simple-11" x="-1484.95" y="1174.36" width="2148.81" height="18" transform="translate(716.52 636.89) rotate(45)"/>
        <rect class="cls-simple-11" x="-1509.07" y="1198.48" width="2148.81" height="18" transform="translate(726.51 661.02) rotate(45)"/>
        <rect class="cls-simple-11" x="-1533.19" y="1222.61" width="2148.81" height="18" transform="translate(736.5 685.14) rotate(45)"/>
        <rect class="cls-simple-11" x="-1557.32" y="1246.73" width="2148.81" height="18" transform="translate(746.49 709.27) rotate(45)"/>
        <rect class="cls-simple-11" x="-1581.44" y="1270.85" width="2148.81" height="18" transform="translate(756.49 733.39) rotate(45)"/>
        <rect class="cls-simple-11" x="-1605.57" y="1294.98" width="2148.81" height="18" transform="translate(766.48 757.51) rotate(45)"/>
        <rect class="cls-simple-11" x="-1629.69" y="1319.1" width="2148.81" height="18" transform="translate(776.47 781.64) rotate(45)"/>
        <rect class="cls-simple-11" x="-1653.81" y="1343.23" width="2148.81" height="18" transform="translate(786.47 805.76) rotate(45)"/>
        <rect class="cls-simple-11" x="-1677.94" y="1367.35" width="2148.81" height="18" transform="translate(796.46 829.89) rotate(45)"/>
        <rect class="cls-simple-11" x="-1702.06" y="1391.47" width="2148.81" height="18" transform="translate(806.45 854.01) rotate(45)"/>
        <rect class="cls-simple-11" x="-1726.19" y="1415.6" width="2148.81" height="18" transform="translate(816.44 878.14) rotate(45)"/>
        <rect class="cls-simple-11" x="-1750.31" y="1439.72" width="2148.81" height="18" transform="translate(826.44 902.26) rotate(45)"/>
        <rect class="cls-simple-11" x="-1774.44" y="1463.85" width="2148.81" height="18" transform="translate(836.43 926.38) rotate(45)"/>
        <rect class="cls-simple-11" x="-1798.56" y="1487.97" width="2148.81" height="18" transform="translate(846.42 950.51) rotate(45)"/>
        <rect class="cls-simple-11" x="-1822.68" y="1512.1" width="2148.81" height="18" transform="translate(856.41 974.63) rotate(45)"/>
      </g>
      <g id="simple-cert-photo">
        <g id="26">
          <mask id="mask-4" fill="white">
            <use xlink:href="#path-3"></use>
          </mask>
          <use id="Mask" [ngClass]="getCertBackgroundClass()" xlink:href="#path-3"></use>
          <image id="photo" mask="url(#mask-4)" [attr.x]="movable.offsetX" [attr.y]="movable.offsetY"
                  [attr.width]="650 * zoom.scale" width="650"
                  [attr.xlink:href]="certificate.photoUrl"></image>
          <use id="Mask" [ngClass]="getCertGradientClass()" xlink:href="#path-3"></use>
        </g>
        <use id="Mask" [ngClass]="getCertGradientClass()" opacity="0.5" xlink:href="#path-3"></use>
      </g>
      <!-- <rect [ngClass]="getCertGradientClass()" x="55.35" y="33.17" width="1058.88" height="1347.79" rx="12.27"/> -->
      <g class="cls-simple-23">
        <text class="cls-simple-24" transform="translate(198.58 276.61)">CERTIFICATION OF </text>
        <text class="cls-simple-24" transform="translate(198.58 323.27)">COMPLETION</text>
      </g>
      <text class="cls-simple-15" transform="translate(198.59 833.94)">
        <tspan>{{certificate.certName | chineseName}}</tspan>
      </text>
      <text class="cls-simple-16" transform="translate(198.59 620.72)">
        <tspan>{{certificate.lastName}} {{certificate.firstName}}</tspan>
      </text>
      <g class="cls-simple-19">
        <text class="cls-simple-13" transform="translate(204.89 979.61)">颁发日期</text>
        <text class="cls-simple-18" transform="translate(347.21 981.51)">：</text>
        <text class="cls-simple-18" transform="translate(381.81 980.51)">
          <tspan>{{certificate.publishedAt|date:'yyyy/MM/dd'}}</tspan>
        </text>
      </g>
      <g class="cls-simple-17">
        <text class="cls-simple-14" transform="translate(204.89 1067.08)">有效期</text>
        <text class="cls-simple-18" transform="translate(347.21 1068.96)">：</text>
        <text class="cls-simple-18" transform="translate(381.81 1068.96)">
          <tspan>{{certificate.publishedAt|date:'yyyy/MM/dd'}}</tspan>
          <tspan>-</tspan>
          <tspan>{{certificate.expiredAt|date:'yyyy/MM/dd'}}</tspan>
        </text>
      </g>
      <g class="cls-simple-20">
        <text class="cls-simple-14" transform="translate(204.89 1156.75)">颁发者</text>
        <text class="cls-simple-18" transform="translate(347.21 1157.07)">：</text>
        <text class="cls-simple-18" transform="translate(381.81 1157.07)">
          <tspan>{{certificate.issuer|slice:0:20}}</tspan>
        </text>
      </g>
      <g class="cls-simple-21">
        <path class="cls-simple-22" d="M1316.5,257.41a243.45,243.45,0,0,1-190.59,91.7C991.22,349.11,882,239.92,882,105.23s109.18-243.87,243.87-243.87c123.19,0,225,91.33,241.54,210"/>
        <path class="cls-simple-22" d="M1310.74,252.66a236,236,0,0,1-184.82,89c-130.59,0-236.44-105.86-236.44-236.44s105.85-236.44,236.44-236.44c119,0,217.77,88.4,234.16,202.41"/>
        <path class="cls-simple-22" d="M1305,247.92a228.57,228.57,0,0,1-179.06,86.23c-126.48,0-229-102.53-229-229s102.53-229,229-229c114.85,0,210.51,85.47,226.78,194.85"/>
        <path class="cls-simple-22" d="M1299.22,243.17a221.15,221.15,0,0,1-173.3,83.5c-122.37,0-221.57-99.2-221.57-221.57s99.2-221.58,221.57-221.58c110.68,0,203.26,82.54,219.41,187.3"/>
        <path class="cls-simple-22" d="M1293.47,238.43a213.76,213.76,0,0,1-167.54,80.76c-118.27,0-214.14-95.87-214.14-214.14s95.87-214.14,214.14-214.14c106.51,0,196,79.61,212,179.74"/>
        <path class="cls-simple-22" d="M1287.71,233.69a206.33,206.33,0,0,1-161.78,78c-114.16,0-206.71-92.54-206.71-206.7s92.55-206.71,206.71-206.71c102.34,0,188.73,76.68,204.66,172.17"/>
        <path class="cls-simple-22" d="M1282,228.94a198.89,198.89,0,0,1-156,75.3C1015.88,304.24,926.66,215,926.66,105s89.22-199.27,199.28-199.27c98.17,0,181.47,73.74,197.28,164.61"/>
        <path class="cls-simple-22" d="M1276.2,224.2a191.51,191.51,0,0,1-150.26,72.56c-106,0-191.84-85.89-191.84-191.85S1020-86.93,1125.94-86.93c94,0,174.21,70.82,189.91,157.06"/>
        <path class="cls-simple-22" d="M1270.44,219.45a184.05,184.05,0,0,1-144.5,69.83c-101.84,0-184.4-82.56-184.4-184.41s82.56-184.41,184.4-184.41c89.84,0,167,67.88,182.53,149.49"/>
        <path class="cls-simple-22" d="M1264.68,214.71A177,177,0,1,1,1126-72.15c85.67,0,159.68,65,175.15,141.93"/>
        <path class="cls-simple-22" d="M1258.92,210A169.54,169.54,0,1,1,1126-64.76c81.5,0,152.43,62,167.78,134.37"/>
        <path class="cls-simple-22" d="M1253.17,205.22A162.11,162.11,0,1,1,1126-57.38c77.33,0,145.16,59.09,160.4,126.81"/>
        <path class="cls-simple-22" d="M1247.41,200.48A154.68,154.68,0,1,1,1126-50c73.16,0,137.9,56.16,153,119.25"/>
        <path class="cls-simple-22" d="M1241.65,195.73A147.24,147.24,0,1,1,1126-42.6c69,0,130.65,53.22,145.66,111.69"/>
        <path class="cls-simple-22" d="M1235.9,191A139.81,139.81,0,1,1,1126-35.22c64.82,0,123.38,50.3,138.27,104.14"/>
        <path class="cls-simple-22" d="M1230.14,186.24A132.38,132.38,0,1,1,1126-27.83c60.66,0,116.12,47.37,130.9,96.57"/>
        <path class="cls-simple-22" d="M1224.38,181.5A124.95,124.95,0,1,1,1126-20.44c56.48,0,108.86,44.43,123.52,89"/>
        <path class="cls-simple-22" d="M1218.63,176.76A117.51,117.51,0,1,1,1126-13c52.32,0,101.6,41.5,116.15,81.45"/>
      </g>
    </g>
  </g>
</svg>