:host {
  display: block;

  .section-title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
    border-left: 3px solid #F2732B;
    line-height: 20px;
    margin-bottom: 28px;
  }
  .cert-info{
    display: grid;
    grid-template-columns: auto auto;
  }

  nz-form-item{
    &.company-area {
      grid-column-start: 1;
    }
    nz-form-label{
      display: block;
      text-align: left;
    }

    nz-select, input {
      width: 240px;
    }
  }
}

::ng-deep .ant-calendar-picker .ant-calendar-picker {
  width: 240px;
}


.photo-upload {
  display: flex;
}

.trainee-upload {
  margin-right: 20px;
}
