:host {
  display: block;

  .form-line{
    display: flex;
    justify-content: space-between;

    nz-form-label{
      display: block;
      text-align: left;
    }

    nz-select, input{
      width: 240px;
    }
  }
}

mat-form-field {
  display: block;
}

.awardee-name {
  display: flex;

  mat-form-field {
    flex: auto;
  }
}

img {
  max-width: 200px;
}
