<div class="cert-info">
  <mat-form-field>
    <select placeholder="证书类型" matNativeControl name="certificateTemplate" [(ngModel)]="certificateTemplate" (ngModelChange)="changeTemplate($event)">
      <option value="tw">敏捷教练</option>
      <option value="tw-cor">合作方敏捷教练</option>
      <option value="dpm">数字产品经理</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <select placeholder="合作方" matNativeControl name="cor" [(ngModel)]="certificate.partner">
      <option value="github">Github</option>
      <option value="huawei">华为</option>
      <option value="pku">PKU</option>
      <option value="oppo">OPPO</option>
      <option value="CMGFintech">招商金科</option>
      <option value="ABC">中国农业银行</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <select placeholder="证书名称" matNativeControl name="certName" [(ngModel)]="certificate.certName">
      <option value="AGILE COACH">AGILE COACH</option>
      <option value="ADVANCED AGILE COACH">ADVANCED AGILE COACH</option>
      <option value="MASTER AGILE COACH">MASTER AGILE COACH</option>
    </select>
  </mat-form-field>

  <div class="awardee-name">
    <mat-form-field>
      <input type="text" required placeholder="姓" matInput id="lastName" name="lastName" [(ngModel)]="certificate.lastName">
      <mat-error>请填写姓氏</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" required placeholder="名" matInput id="firstName" name="firstName" [(ngModel)]="certificate.firstName">
      <mat-error>请填写名字</mat-error>
    </mat-form-field>
  </div>

  <div class="awardee-name">
    <mat-form-field>
      <input type="text" placeholder="姓（拼音）" matInput id="lastName" name="lastName" [(ngModel)]="certificate.lastNamePinyin">
      <mat-error>请填写姓氏</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" placeholder="名（拼音）" matInput id="firstName" name="firstName" [(ngModel)]="certificate.firstNamePinyin">
      <mat-error>请填写名字</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input placeholder="获得时间" matInput [matDatepicker]="pickerPublishedAt" name="publishedAt"
    [(ngModel)]="certificate.publishedAt">
    <mat-datepicker-toggle matSuffix [for]="pickerPublishedAt">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #pickerPublishedAt></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input placeholder="过期时间" matInput [matDatepicker]="pickerExpiredAt" name="expiredAt"
    [(ngModel)]="certificate.expiredAt">
    <mat-datepicker-toggle matSuffix [for]="pickerExpiredAt">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #pickerExpiredAt></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="type" [(ngModel)]="certificate.type">
      <mat-option value="ThoughtWorks">ThoughtWorks</mat-option>
      <mat-option value="Community">Community</mat-option>
      <mat-option value="Enterprise">Enterprise</mat-option>
      <mat-option value="University">University</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="合作方" name="partner" [(ngModel)]="certificate.partner">
      <mat-option value="github">Github</mat-option>
      <mat-option value="huawei">Huawei</mat-option>
      <mat-option value="oppo">OPPO</mat-option>
      <mat-option value="pku">Peking University</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput id="issuer" name="issuer" required placeholder="颁发者" [(ngModel)]="certificate.issuer">
    <mat-error>请填写颁发者</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="接收者钱包地址" matInput name="receiverAddress" [(ngModel)]="certificate.receiverAddress">
  </mat-form-field>
</div>

<div class="photo">
  <p>
    <mat-label>请上传学员照片：</mat-label>
  </p>
  <input #input (change)="photoChanged(input.files)" type="file"/>
  <div style="background: black">
    <img [src]="certificate.photoUrl|safeResourceUrl"/>
  </div>
</div>
