<div class="cert-info">
    <nz-form-item>
      <nz-form-label>证书类型</nz-form-label>
      <nz-select
        name="certificateTemplate"
        [(ngModel)]="certificateTemplate"
        (ngModelChange)="changeTemplate($event)"
      >
        <nz-option nzValue="tw" nzLabel="敏捷教练"></nz-option>
        <nz-option nzValue="tw-cor" nzLabel="合作方敏捷教练"></nz-option>
        <nz-option nzValue="dpm" nzLabel="数字产品经理"></nz-option>
      </nz-select>
    </nz-form-item>

    <nz-form-item  *ngIf="certificateTemplate === 'tw-cor'">
      <nz-form-label>合作方</nz-form-label>
      <nz-select
        name="cor"
        [(ngModel)]="certificate.partner"
      >
        <nz-option nzValue="github" nzLabel="Github"></nz-option>
        <nz-option nzValue="huawei" nzLabel="华为"></nz-option>
        <nz-option nzValue="pku" nzLabel="PKU"></nz-option>
        <nz-option nzValue="oppo" nzLabel="OPPO"></nz-option>
        <nz-option nzValue="CMGFintech" nzLabel="招商金科"></nz-option>
        <nz-option nzValue="ABC" nzLabel="中国农业银行"></nz-option>
      </nz-select>
    </nz-form-item>

    <nz-form-item *ngIf="certificateTemplate === 'dpm'">
      <nz-form-label>等级</nz-form-label>
      <nz-select
        name="dpmLevel"
        [(ngModel)]="certificate.dpmLevel"
      >
        <nz-option  *ngFor="let option of dpmLevelOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </nz-form-item>

    <nz-form-item *ngIf="certificateTemplate === 'tw' || certificateTemplate === 'tw-cor'">
      <nz-form-label>证书名称</nz-form-label>
      <nz-select
        name="certName" [(ngModel)]="certificate.certName"
      >
        <nz-option  *ngFor="let option of certificateLevelOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
      </nz-select>
    </nz-form-item>
    <nz-form-item *ngIf="certificateTemplate === 'tw' || certificateTemplate === 'tw-cor'">
      <nz-form-label>认证类型</nz-form-label>
      <nz-select
        name="type"
        [(ngModel)]="certificate.type"
      >
        <nz-option nzValue="ThoughtWorks" nzLabel="ThoughtWorks"></nz-option>
        <nz-option nzValue="Community" nzLabel="Community"></nz-option>
        <nz-option nzValue="Enterprise" nzLabel="Enterprise"></nz-option>
        <nz-option nzValue="University" nzLabel="University"></nz-option>
      </nz-select>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>姓</nz-form-label>
      <nz-form-control>
        <input nz-input name="lastName" [(ngModel)]="certificate.lastName" required />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>名</nz-form-label>
      <nz-form-control>
        <input nz-input name="firstName" [(ngModel)]="certificate.firstName" required />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>获得时间</nz-form-label>
      <nz-date-picker name="publishedAt" [(ngModel)]="certificate.publishedAt"></nz-date-picker>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>过期时间</nz-form-label>
      <nz-date-picker class="date-picker" name="expiredAt" [(ngModel)]="certificate.expiredAt"></nz-date-picker>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>颁发者</nz-form-label>
      <nz-form-control>
        <input nz-input name="issuer" [(ngModel)]="certificate.issuer" required />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>接收者钱包地址</nz-form-label>
      <input nz-input name="receiverAddress" [(ngModel)]="certificate.receiverAddress" >
    </nz-form-item>
</div>

<div class="photo">
  <div class="wrapper" *ngIf="!certificate.photoUrl">
    <div class="upload">
      <i class="upload-icon" nz-icon [nzType]="uploadLoading ? 'loading' : 'plus'"></i>
      <div>上传学员照片</div>
    </div>
    <input #input (change)="photoChanged(input.files)" type="file"/>
  </div>
  <div class="image-container" *ngIf="certificate.photoUrl">
    <img [src]="certificate.photoUrl|safeResourceUrl"/>
    <div class="mask">
      <i class="icon" nz-icon nzType="delete" nzTheme="outline" (click)="deleteImg()"></i>
    </div>
  </div>
</div>
