.photo{
  width: 104px;
  height: 104px;
  border: 1px dashed #d9d9d9;

  img {
    max-width: 200px;
  }

  .image-container{
    width: 100%;
    height: 100%;
    position: relative;

    &:hover{
      .mask{
        display: flex;
        opacity: 1;
      }
    }

    img{
      width: 100%;
      height: 100%;
    }

    .mask{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;

      .icon{
        color: #FFFFFF;
        font-size: 18px;
        margin-right: 8px;
        cursor: pointer;

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  .wrapper{
    width: 100%;
    height: 100%;
    position: relative;

    .upload{
      width: 102px;
      height: 102px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
      position: relative;

      .upload-icon{
        margin-bottom: 8px;
        font-size: 24px;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
