<div class="photo">
  <div class="wrapper" *ngIf="!logoUrl">
    <div class="upload">
      <i class="upload-icon" nz-icon [nzType]="uploading ? 'loading' : 'plus'"></i>
      <div>公司Logo</div>
      <div>（选填）</div>
    </div>
    <input #input (change)="photoChanged(input.files)" type="file"/>
  </div>
  <div class="image-container" *ngIf="logoUrl">
    <img [src]="logoUrl|safeResourceUrl"/>
    <div class="mask">
      <i class="icon" nz-icon nzType="delete" nzTheme="outline" (click)="deleteImg()"></i>
    </div>
  </div>
</div>
